<h1>나의 로또 번호 첫번째</h1>
<p><%= image_tag(@result[0].to_s+".jpg") %></p>
<p><%= image_tag(@result[1].to_s+".jpg") %></p>
<p><%= image_tag(@result[2].to_s+".jpg") %></p>
<p><%= image_tag(@result[3].to_s+".jpg") %></p>
<p><%= image_tag(@result[4].to_s+".jpg") %></p>
<p><%= image_tag(@result[5].to_s+".jpg") %></p>
<p><%= image_tag(@result[6].to_s+".jpg") %></p>



